@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: rgb(229, 230, 231);
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin: 1rem;
  color: rgb(146, 98, 7);
  border: 0.2rem solid rgb(146, 98, 7);
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: darkslategray;
  color: #ffff;
}
.heading {
  text-align: center;
  color: rgb(146, 98, 7);
  padding: 1rem;
  font-size: 3.5rem;
}

.header1 {
  background: rgb(36, 35, 35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.header1 span {
  text-transform: uppercase;
  text-decoration: overline;
}
.header1 a {
  color: rgb(195, 197, 199);
  font-size: 2.5rem;
  padding: 1rem 0;
  margin: 1rem;
}
.header1 .navbar a {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

#menu-bar {
  font-size: 2.5rem;
  color: rgb(195, 197, 199);
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.home .content {
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  left: 40rem;
  height: 40rem;
  width: 60rem;
}

.home .content span {
  font-size: 8rem;
  color: rgb(146, 98, 7);
  text-transform: uppercase;
}

.home .content h3 {
  font-size: 2.5rem;
  color: rgb(79, 91, 102);
  margin: 3rem 0;
}

.portfolio .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.portfolio h1 {
  text-decoration: underline;
  font-size: 2.5rem;
}

.portfolio .box-container .box {
  border-radius: 2rem;
  text-align: center;
  padding: 3rem;
  flex: 1 1 35rem;
  height: 25rem;
}

.portfolio .box-container .box h3 {
  font-size: 2rem;
  color: rgb(79, 91, 102);
  height: 15rem;
}

.portfolio .box-container .box .btn {
  margin: 1.5rem;
}

.tech-container {
  padding: 5rem 0;
}
.tech-container .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.tech-container .box-container .box {
  flex: 1 1 35rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 2rem;
}

.tech-container .box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.footer .box-container .box .share a {
  padding: 0;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
  margin: 0.5rem;
  border-radius: 2rem;
  text-align: center;
}

.footer .heading a {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: aliceblue;
  text-align: center;
  justify-content: center;
}

/*responsive section*/

@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 990px) {
  .header1 {
    padding: 2rem;
  }

  .header1 a {
    font-size: 1.5rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #menu-bar {
    display: initial;
  }

  .header1 .navbar {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    background: rgb(146, 98, 7);
    padding: 1rem 2rem;
    display: none;
  }
  .header1 .navbar.active {
    display: initial;
  }
  .header1 .navbar a {
    display: block;
    text-align: center;
    font-size: 2rem;
    background: rgb(36, 35, 35);
    padding: 0.5rem;
    margin: 1rem 0;
  }
  .home .content {
    position: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    max-width: 100%;
  }

  .home .content h3 {
    font-size: 2.5rem;
  }
  .home .image {
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 2rem;
  }

  .home .content {
    max-width: 100%;
    display: block;
    left: 0%;
  }

  .portfolio .box-container .box {
    max-width: 100%;
  }

  .tech-container .box-container .box {
    display: flex;
    flex: 1 1 10rem;
    position: relative;
    text-align: center;
  }

  @media (max-width: 375px) {
    html {
      font-size: 50%;
    }
    .home .content {
      position: flex;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-shrink: 1;
      max-width: 100%;
    }
  }
}
